<!DOCTYPE html>
<html>
<head>
	<title>store</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<h1> my Store </h1>
<a href = {{ url_for ('homePage') }}> home </a>

<ul>
	{%for product in allproducts%}
	<div class="card">
	<img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1>{{product.name}}</h1>
  <p class="price">{{product.price}}</p>
  <p>{{product.description}}</p>
  <p><button> <a href = {{ url_for ('cart') }}>Add to Cart</a></button></p>
</div>
	{% endfor %}
</ul>

<!--   
  <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans..</p>
  <p><button> <a href = {{ url_for ('cart') }}>Add to Cart</a></button></p>
</div>
 -->

<style>
	.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</body>
</html>